body {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #1f1b29;
}

.navBar {
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    align-items: center;
	justify-content: center;
}

/* body {
    background-color: aqua;
    font-size: larger;
    text-align: center;
} */

h1 {
    font-family: cursive;
    color: whitesmoke;
}

/* .dadJoke {
    text-align: center;
    max-height: 350px;
    max-width: 350px;
} */

#jokes {
    color: whitesmoke;
}



button {
	background: none;
	color: #ffa260;
	border: 3px solid;
	padding: 1em 2em;
	font-style: 1em;
	transition: all 0.2s;
	border-radius: 3px;
}

button:hover {
	border-color: #f1ff5c;
	color: white;
	box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
	transform: translateY(-0.25em);
}
