body {
    background-color: aqua;
    font-size: larger;
    text-align: center;
}

h1 {
    font-family: cursive;
}

/* .dadJoke {
    text-align: center;
    max-height: 350px;
    max-width: 350px;
} */